<!-- SIGN UP PAGE -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "leave-comment") do |f| %>
<div class="t-center p-l-15 p-r-15">
      <div class="col-md-6 p-b-30 margin-0-auto">
          <p>
          <%= image_tag("/images/cat.png", alt: "IMG", class: "cat-login-img") %>
          </p>
          
            <h4 class="m-text26 p-b-36 p-t-15">
              Créer un compte
            </h4>

            <h4 class="m-text26 p-b-36 p-t-15">
              <%= devise_error_messages! %>
            </h4>

            <div class="bo4 of-hidden size15 m-b-20">
              <%= f.text_field :first_name, autofocus: true, placeholder: "Nom", class: "sizefull s-text7 p-l-22 p-r-22" %>
            </div>

            <div class="bo4 of-hidden size15 m-b-20">
              <%= f.text_field :last_name, autofocus: true, placeholder: "Prénom", class: "sizefull s-text7 p-l-22 p-r-22" %>
            </div>

            <div class="bo4 of-hidden size15 m-b-20">
              <%= f.text_field :username, autofocus: true, placeholder: "Nom d'utilisateur", class: "sizefull s-text7 p-l-22 p-r-22" %>
            </div>

            <div class="bo4 of-hidden size15 m-b-20">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse e-mail", class: "sizefull s-text7 p-l-22 p-r-22" %>
            </div>

            <div class="bo4 of-hidden size15 m-b-20 field">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe (6 caractères min)", class: "sizefull s-text7 p-l-22 p-r-22" %>
            </div>

            <div class="bo4 of-hidden size15 m-b-20 field">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmer le mot de passe", class: "sizefull s-text7 p-l-22 p-r-22" %>
            </div>
            
              <!-- Button -->

            <div class="btn-log-container">
              <%= f.submit "Sign up", class: "flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4 btn-width-for-login margin-0-auto" %>
            <%= render "devise/shared/links" %>
            </div>
      </div>
</div>
<% end %>