<!-- LOGIN PAGE -->
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="t-center p-l-15 p-r-15">
      <div class="col-md-6 p-b-30 margin-0-auto">
          <p>
          <%= image_tag("/images/cat.png", alt: "IMG", class: "cat-login-img") %>
          </p>
            <h4 class="m-text26 p-b-36 p-t-15">
              Récupérer mon mot de passe
            </h4>

            <h4 class="m-text26 p-b-36 p-t-15">
              <%= devise_error_messages! %>
            </h4>

            <div class="bo4 of-hidden size15 m-b-20">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse e-mail", class: "sizefull s-text7 p-l-22 p-r-22" %>
            </div>
            
              <!-- Button -->

            <div class="btn-log-container">
              <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4 btn-width-for-login margin-0-auto" type="submit" name="commit">
                Reset
              </button>
            <%= render "devise/shared/links" %>
            </div>
      </div>
</div>
<% end %>