<div class="container">
    <h2>INDEX</h2>
    <h3> nos produits </h3>
    <table border= "1"> 
        <tr>
            <td>title</td>
            <td>description</td>
            <td>price</td>
            <td>url</td>
        </tr>
        
            <% @items.each do |item| %>
            <tr>                
                <td><%= item.title %> </td>
                <td><%= item.description %> </td>
                <td><%= item.price %> </td>
                <td><%= item.image_url %> </td>
                 <td><%= link_to 'add to paner', add_path(item.id) %> 
            </tr>
            <% end %>   
        
    
    </table>

</div>