<% if user_signed_in? %>
    Mon panier
    <% @items.each do |i|%>
        <a href="#" class="">
            <%= i.title %>
        </a>
        <span class="header-cart-item-info">
            1 x $
            <%= i.price %>
        </span>
        <% end %>

            Total: $
            <% 
                p = 0 
                @items.each do |i| 
                    p += i.price 
                end
            %>
            <%= p %>

            <a href="">Voir panier</a>

            <span>Shoping Cart</span>
        <form class="bg0 p-t-75 p-b-85">
            <% @items.each do |i| %>
                <td class="column-2"><%= i.title %></td>
                <td class="column-3">$ <%= i.price %></td>
                <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="1">
                <td class="column-5">$ <%= i.price %></td>
            <%end%>

            <div>
                Confirmer la commande
            </div>
        </form>