<div class="container">
<% @chats.each do |chat| %>
    <div id="product" style="background-color: grey;">
        <h2><%= chat.title %></h2>
        <div><%= image_tag(chat.image_url, width: '50px', height: '50px') %><%= chat.description %></div>
        <div><%= chat.image_url %></div>
        <div>
            <%= chat.price %>
            <%= link_to "show", item_path(chat.id) %> 
            <button>Ajouter au panier</button>
        </div>
    </div>
<% end %>
</div>
<div>

    <h2>INDEX</h2>
    <%= if user_signed_in? 
            link_to 'Panier validé', panier_path
        end 
    %>

</div>
